* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: "Prompt", sans-serif;
  list-style-type: none;
}

* img {
  width: 100%;
}

@media (min-width: 768px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
  }
}

body .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

body .container .titles h1 {
  font-weight: 500;
}

body .container .titles h2 {
  font-weight: 300;
  color: #6563ff;
  font-size: 1.4rem;
}

body .container .titles-subtitle {
  margin: 2rem 0;
}

body .container .titles a {
  color: #4947b6;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

body .container .titles a:hover {
  color: #4facf8;
}

body .container .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 22rem;
  background: #f8f8f8;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  border-radius: 0.8rem;
  padding: 0.8rem;
}

body .container .cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  position: relative;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  width: 5rem;
  height: 5rem;
}

body .container .cards .card.shake {
  -webkit-animation: shake 0.35s ease-in-out;
          animation: shake 0.35s ease-in-out;
}

body .container .cards .card .front-view {
  width: 4rem;
  height: 4rem;
}

body .container .cards .card .front-view img {
  width: 1rem;
}

body .container .cards .card .back-view {
  width: 4rem;
  height: 4rem;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

body .container .cards .card .back-view img {
  width: 2rem;
}

body .container .cards .card .view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.8rem;
  padding: 0.8rem;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  pointer-events: none;
  position: absolute;
  -webkit-transition: -webkit-transform 0.25s linear;
  transition: -webkit-transform 0.25s linear;
  transition: transform 0.25s linear;
  transition: transform 0.25s linear, -webkit-transform 0.25s linear;
}

body .container .cards .card.flip .front-view {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

body .container .cards .card.flip .back-view {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

body .container .end-game-warning {
  position: absolute;
  -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.8rem;
  background: white;
  padding: 1.9rem;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

body .container .end-game-warning.show {
  opacity: 1;
  pointer-events: all;
}

body .container .end-game-warning p {
  margin-bottom: 1rem;
}

body .container .end-game-warning p span {
  display: block;
}

body .container .end-game-warning button {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.1rem;
  background: #6563ff;
  border: 0;
  outline: 0;
  border-radius: 0.8rem;
  color: white;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

body .container .end-game-warning button:hover {
  background: #4947b6;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  20% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  40% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  60% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  80% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  20% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  40% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  60% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  80% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
/*# sourceMappingURL=main.css.map */